<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moralesf.masquerade" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.moralesf.masquerade.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.moralesf.masquerade.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".MasqueradeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".android.list.ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.mask.MaskActivity"
            android:label="@string/title_activity_new_chat"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".android.list.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.list.ListActivity" />
        </activity>
        <activity
            android:name=".android.chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".android.list.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.list.ListActivity" />
        </activity>
        <activity android:name=".android.data.AndroidDatabaseManager" />

        <provider
            android:name=".android.data.MasqueradeProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.moralesf.masquerade.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".android.join.JoinActivity"
            android:label="@string/title_activity_join"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".android.list.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moralesf.masquerade.android.list.ListActivity" />
        </activity>

        <!-- Used for Google Play Store Campaign Measurement -->
;
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".android.tutorial.TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>
